<div class="row ">
  <div class="eight columns">
    <% @events.each do |event| %>
      <card class="event-card">
        <h4><%= event.title %></h4>
        <img src="http://via.placeholder.com/540x300">
        <div class="row">
          <div class="six columns">
            <p class="major-info"><%= event.location %></p>
            <p class="major-info"><%= event.start_at.strftime('%Y/%m/%d %H:%M') %></p>
          </div>
          <div class="six columns">
            <p class="ticket-price"><%= event.ticket_price %>円</p>
            <%= link_to 'お気に入り', add_path(id: event.id), method: :post,  class: 'button button-primary' %>
            <%= link_to '購入', new_event_purchase_path(event), class: 'button button-primary' %>
          </div>
        </div>
      </card>
    <% end %>
  </div>
  <sidebar class="four columns categories-sb">
    <card class="categories-card">
      <h4>Categories</h4>
      <ul>
        <li><%= link_to 'KONKATSU', "/events/category/1" %></li>
        <li><%= link_to 'KOIKATSU', "/events/category/2" %></li>  
        <li><%= link_to 'GOURMET', "/events/category/3" %></li>
      </ul>
    </card>
    <card class="search-card">
      <h4>場所検索</h4>
　　　<%= form_tag("/events/search",:method => 'get') do %>
　　　<%= text_field_tag :search%>
      <%= submit_tag "検索", :name => nil %>
      <%end%>
    </card>
    <card class="search-card">
      <h4>イベント名検索</h4>
　　　<%= form_tag("/events/search",:method => 'get') do %>
　　　<%= text_field_tag :search_name%>
      <%= submit_tag "検索", :name => nil %>
      <%end%>
    </card>
    <card class="search-card">
      <h4>お気に入り一覧</h4>
　　　<%= link_to 'お気に入り一覧表示', "/favorite",  class: 'button button-primary' %>
    </card>
    
  </sidebar>
</div>
